// start variables
$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);
// import mixins
@use "../css/mixins.scss" as *;
// Start body
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eff1f7;
}
// container
.container {
  margin: auto;
  @include media(small) {
    width: 720px;
  }
  @include media(medium) {
    width: 960px;
  }
  @include media(large) {
    width: 1140px;
  }
  @include media(xlarge) {
    width: 1140px;
  }
}
nav {
  .logo {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 20px;
    height: 80px;
    background-color: white;
    transition: all 0.5s;
    width: 84%;
    right: 0;
    position: absolute;
    @include media(mobile) {
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: -100%;
      padding: 0;
      &.active {
        top: 0;
      }
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      @include media(mobile) {
        flex-direction: column;
      }
      li {
        margin-right: 20px;
        color: $Gray;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 10px;
        &:hover {
          color: $Very-Dark-Blue;
        }
      }
    }
    .right-side {
      @include media(mobile) {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
      button {
        background: none;
        border: none;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
        &.login {
          color: $Gray;
          &:hover {
            color: $Very-Dark-Violet;
          }
        }
        &.sing-up {
          background-color: $Cyan;
          background-color: hsl(180deg, 66%, 49%);
          padding: 8px 12px;
          border-radius: 20px;
          color: white;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
// end nav bar
// bar
.bar {
  height: 25px;
  background: none;
  border: none;
  font-size: 25px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  @include media(mobile) {
    display: block;
  }
}
// end bar
// Start lainding
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  padding: 0 100px;
  background-color: white;
  @include media(mobile) {
    flex-direction: column-reverse;
    gap: 20px;
    height: 100vh;
  }
  .content {
    @include media(small) {
      text-align: center;
    }
    @include media(xlarge) {
      padding: 0 140px;
    }
    h1 {
      font-size: 80px;
      font-weight: bold;
      text-transform: capitalize;
      line-height: 1.2;
      margin: 0;
      @include media(mobile) {
        font-size: 30px;
      }
      @include media(small) {
        font-size: 40px;
      }
      @include media(medium) {
        font-size: 55px;
      }
      @include media(large) {
        font-size: 55px;
      }
    }
    p {
      color: $Gray;
      font-size: 25px;
      padding: 0;
      margin: 0;
      @include media(mobile) {
        font-size: 15px;
      }
      @include media(small) {
        font-size: 15px;
      }
      @include media(medium) {
        font-size: 20px;
      }
      @include media(large) {
        font-size: 20px;
      }
    }
    button {
      background: none;
      border: none;
      background-color: hsl(180deg, 66%, 49%);
      background-color: hsl(180deg, 66%, 49%);
      padding: 10px 15px;
      border-radius: 20px;
      color: white;
      opacity: 0.6;
      font-size: 20px;
      font-weight: bold;
      margin-top: 50px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
  .img {
    img {
      @include media(mobile) {
        width: 400px;
      }
      @include media(small) {
        width: 500px;
      }
      @include media(medium) {
        width: 600px;
      }
    }
  }
}
// End landing
// Start url box
.url-box {
  margin-top: -100px;
  .input-box {
    background-image: url(../images/bg-boost-desktop.svg);
    background-color: $Dark-Violet;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
    form {
      width: 100%;
      text-align: center;
    }
    input[type="url"] {
      width: 65%;
      padding: 20px;
      outline: none;
      font-size: 18px;
      border-radius: 10px;
      border: none;
      margin-bottom: 10px;
      @include media(mobile) {
        width: calc(100% - 60px);
      }
    }
    input[type="submit"] {
      padding: 20px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      outline: none;
      transition: 0.3s;
      background: none;
      background-color: hsl(180deg, 66%, 49%);
      opacity: 0.6;
      color: white;
      cursor: pointer;
      @include media(mobile) {
        width: calc(100% - 25px);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .output-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: $Cyan;
      margin-right: 15px;
    }
    .shorten-link {
      button {
        background-color: hsl(180deg, 66%, 49%);
        padding: 8px 12px;
        border-radius: 10px;
        color: white;
        opacity: 0.6;
        border: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}
// End url box
// Start Statistics
.statistics {
  text-align: center;
  padding: 150px 0;
  .head {
    // width: 550px;
    margin: 20px auto 100px;
    h2 {
      font-size: 50px;
      margin: 10px;
      @include media(mobile) {
        font-size: 30px;
      }
    }
    p {
      color: $Gray;
      font-size: 20px;
      margin: 0;
      padding: 0;
      @include media(mobile) {
        font-size: 15px;
      }
    }
  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 110px;
    @include media(mobile) {
      flex-direction: column;
    }
    .box {
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      text-align: left;
      img {
        background-color: $Dark-Violet;
        border-radius: 50%;
        padding: 20px;
        position: relative;
        top: -55px;
        @include media(mobile) {
          right: -50%;
          transform: translateX(-50%);
        }
      }
      p {
        color: $Gray;
        font-size: 18px;
      }
    }
    .box-one{
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            background-color: hsl(180deg, 66%, 49%);
            right: -20px;
            top: 50%;
            @include media(mobile) {
              content: "";
              position: absolute;
              height: 30px;
              width: 10px;
              background-color: hsl(180deg, 66%, 49%);
              right: 50%;
              top: 100%;
              transform: translateX(50%);
            }
          }
    }
    .box-two {
      position: relative;
      top: 50px;
      &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 20px;
        background-color: hsl(180deg, 66%, 49%);
        right: -20px;
        top: 50%;
        @include media(mobile) {
          content: "";
          position: absolute;
          height: 30px;
          width: 10px;
          background-color: hsl(180deg, 66%, 49%);
          right: 50%;
          top: 100%;
          transform: translateX(50%);
        }
      }
    }
    .box-three {
      position: relative;
      top: 100px;
    }
  }
}
// End Statistics
// Start Boost
.boost {
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: $Dark-Violet;
  text-align: center;
  height: 300px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    color: white;
    font-size: 40px;
    margin: 0;
  }
  button {
    background: none;
    border: none;
    background-color: hsl(180deg, 66%, 49%);
    background-color: hsl(180deg, 66%, 49%);
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    opacity: 0.6;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
// End Boost
// Start footer
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $Very-Dark-Blue;
  color: white;
  padding: 50px;
  @include media(mobile) {
    flex-direction: column;
  }
  li {
    color: $Gray;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
      color: $Cyan;
    }
  }
  .left {
    h2 {
      font-size: 50px;
    }
  }
  .center {
    display: flex;
    justify-content: space-evenly;
    @include media(mobile) {
      flex-direction: column;
    }
  }
  .right {
    img {
      margin-right: 20px;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        color: $Cyan;
      }
    }
  }
}
